html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

body {
  background-color: darkslategrey;
}

.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button1 { background-color: #04AA6D; } /* Green */
.button2 { background-color: #008CBA; } /* Blue */

.alert {
  padding: 20px;
  background-color: #f44336; /* Red */
  color: white;
  margin-bottom: 15px;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 20px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

.imgButtons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto; /* Center image */
  width: 80%; /* Adjust for larger screens */
  padding: 20px; /* Adjust padding for smaller screens */
}

.imButtonsCentered {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#temperatureDisplay, #percentageDisplay {
  color: white;
  font-size: 1em; /* Standard font size */
  margin-left: 10px;
}

#progressWrapper {
  width: 100%;
  max-width: 100%;
  height: 20px;
  background: linear-gradient(to right, blue, green, red);
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}

#valueIndicator {
  position: absolute;
  top: 0;
  height: 100%;
  width: 2px;
  background-color: black;
}

#valueLabel {
  position: absolute;
  font-size: 1em; /* Standard font size */
  color: red;
  background-color: rgba(255, 255, 255, 0.8);
  white-space: nowrap;
  pointer-events: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent sort baggrund */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;  /* Sørg for at overlayet ligger ovenpå alt andet*/
}
